# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Data (חשוב מאוד בפרויקט שלך)
# =========================

data/
# קבצי פלט
data/output/
*.xlsx

# state (לא רוצים לשתף בין מפתחים)
data/state/

# קבצים זמניים
data/temp/

# קבצי טקסט
data/text/

# =========================
# Credentials (סופר קריטי!)
# =========================
credentials/
*.json

# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================
*.bak
*.tmp
downloads/